@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth antialiased;

  /* PWA enhancements */
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

body {
  @apply bg-gray-2 text-gray-12 selection:bg-cyan-5;
}
